.main {
  padding: 0;
  .inner {
    margin: 0;
    display: flex;
  }
  .autoplacement-example {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
  }
}
.red {
  color: blue;
}